_internal/_asyncio.pyd
_internal/_bz2.pyd
_internal/_ctypes.pyd
_internal/_decimal.pyd
_internal/_hashlib.pyd
_internal/_lzma.pyd
_internal/_multiprocessing.pyd
_internal/_overlapped.pyd
_internal/_queue.pyd
_internal/_socket.pyd
_internal/_ssl.pyd
_internal/_wmi.pyd
_internal/api-ms-win-core-console-l1-1-0.dll
_internal/api-ms-win-core-datetime-l1-1-0.dll
_internal/api-ms-win-core-debug-l1-1-0.dll
_internal/api-ms-win-core-errorhandling-l1-1-0.dll
_internal/api-ms-win-core-file-l1-1-0.dll
_internal/api-ms-win-core-file-l1-2-0.dll
_internal/api-ms-win-core-file-l2-1-0.dll
_internal/api-ms-win-core-handle-l1-1-0.dll
_internal/api-ms-win-core-heap-l1-1-0.dll
_internal/api-ms-win-core-interlocked-l1-1-0.dll
_internal/api-ms-win-core-libraryloader-l1-1-0.dll
_internal/api-ms-win-core-localization-l1-2-0.dll
_internal/api-ms-win-core-memory-l1-1-0.dll
_internal/api-ms-win-core-namedpipe-l1-1-0.dll
_internal/api-ms-win-core-processenvironment-l1-1-0.dll
_internal/api-ms-win-core-processthreads-l1-1-0.dll
_internal/api-ms-win-core-processthreads-l1-1-1.dll
_internal/api-ms-win-core-profile-l1-1-0.dll
_internal/api-ms-win-core-rtlsupport-l1-1-0.dll
_internal/api-ms-win-core-string-l1-1-0.dll
_internal/api-ms-win-core-synch-l1-1-0.dll
_internal/api-ms-win-core-synch-l1-2-0.dll
_internal/api-ms-win-core-sysinfo-l1-1-0.dll
_internal/api-ms-win-core-timezone-l1-1-0.dll
_internal/api-ms-win-core-util-l1-1-0.dll
_internal/api-ms-win-crt-conio-l1-1-0.dll
_internal/api-ms-win-crt-convert-l1-1-0.dll
_internal/api-ms-win-crt-environment-l1-1-0.dll
_internal/api-ms-win-crt-filesystem-l1-1-0.dll
_internal/api-ms-win-crt-heap-l1-1-0.dll
_internal/api-ms-win-crt-locale-l1-1-0.dll
_internal/api-ms-win-crt-math-l1-1-0.dll
_internal/api-ms-win-crt-private-l1-1-0.dll
_internal/api-ms-win-crt-process-l1-1-0.dll
_internal/api-ms-win-crt-runtime-l1-1-0.dll
_internal/api-ms-win-crt-stdio-l1-1-0.dll
_internal/api-ms-win-crt-string-l1-1-0.dll
_internal/api-ms-win-crt-time-l1-1-0.dll
_internal/api-ms-win-crt-utility-l1-1-0.dll
_internal/base_library.zip
_internal/libcrypto-3.dll
_internal/libffi-8.dll
_internal/libssl-3.dll
_internal/MSVCP140.dll
_internal/pyexpat.pyd
_internal/python3.dll
_internal/python312.dll
_internal/select.pyd
_internal/ucrtbase.dll
_internal/unicodedata.pyd
_internal/VCRUNTIME140_1.dll
_internal/VCRUNTIME140.dll
_internal/certifi/cacert.pem
_internal/certifi/py.typed
_internal/charset_normalizer/md__mypyc.cp312-win_amd64.pyd
_internal/charset_normalizer/md.cp312-win_amd64.pyd
_internal/dearpygui/_dearpygui.pyd
_internal/dearpygui/VCRUNTIME140_1.dll
_internal/numpy/core/_multiarray_tests.cp312-win_amd64.pyd
_internal/numpy/core/_multiarray_umath.cp312-win_amd64.pyd
_internal/numpy/fft/_pocketfft_internal.cp312-win_amd64.pyd
_internal/numpy/linalg/_umath_linalg.cp312-win_amd64.pyd
_internal/numpy/random/_bounded_integers.cp312-win_amd64.pyd
_internal/numpy/random/_common.cp312-win_amd64.pyd
_internal/numpy/random/_generator.cp312-win_amd64.pyd
_internal/numpy/random/_mt19937.cp312-win_amd64.pyd
_internal/numpy/random/_pcg64.cp312-win_amd64.pyd
_internal/numpy/random/_philox.cp312-win_amd64.pyd
_internal/numpy/random/_sfc64.cp312-win_amd64.pyd
_internal/numpy/random/bit_generator.cp312-win_amd64.pyd
_internal/numpy/random/mtrand.cp312-win_amd64.pyd
_internal/numpy.libs/libopenblas64__v0.3.23-293-gc2f4bdbb-gcc_10_3_0-2bde3a66a51006b2b53eb373ff767a3f.dll
_internal/PIL/_imaging.cp312-win_amd64.pyd
_internal/PIL/_imagingcms.cp312-win_amd64.pyd
_internal/PIL/_imagingmath.cp312-win_amd64.pyd
_internal/PIL/_imagingtk.cp312-win_amd64.pyd
_internal/PIL/_webp.cp312-win_amd64.pyd
_internal/psutil/_psutil_windows.pyd
_internal/pywin32_system32/pywintypes312.dll
_internal/setuptools/_vendor/autocommand-2.2.2.dist-info/INSTALLER
_internal/setuptools/_vendor/autocommand-2.2.2.dist-info/LICENSE
_internal/setuptools/_vendor/autocommand-2.2.2.dist-info/METADATA
_internal/setuptools/_vendor/autocommand-2.2.2.dist-info/RECORD
_internal/setuptools/_vendor/autocommand-2.2.2.dist-info/top_level.txt
_internal/setuptools/_vendor/autocommand-2.2.2.dist-info/WHEEL
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/INSTALLER
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/LICENSE
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/METADATA
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/RECORD
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/REQUESTED
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/top_level.txt
_internal/setuptools/_vendor/backports.tarfile-1.2.0.dist-info/WHEEL
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/INSTALLER
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/LICENSE
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/METADATA
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/RECORD
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/REQUESTED
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/top_level.txt
_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/WHEEL
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/INSTALLER
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/LICENSE
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/METADATA
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/RECORD
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/REQUESTED
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/top_level.txt
_internal/setuptools/_vendor/importlib_resources-6.4.0.dist-info/WHEEL
_internal/setuptools/_vendor/inflect-7.3.1.dist-info/INSTALLER
_internal/setuptools/_vendor/inflect-7.3.1.dist-info/LICENSE
_internal/setuptools/_vendor/inflect-7.3.1.dist-info/METADATA
_internal/setuptools/_vendor/inflect-7.3.1.dist-info/RECORD
_internal/setuptools/_vendor/inflect-7.3.1.dist-info/top_level.txt
_internal/setuptools/_vendor/inflect-7.3.1.dist-info/WHEEL
_internal/setuptools/_vendor/jaraco/text/Lorem ipsum.txt
_internal/setuptools/_vendor/jaraco.context-5.3.0.dist-info/INSTALLER
_internal/setuptools/_vendor/jaraco.context-5.3.0.dist-info/LICENSE
_internal/setuptools/_vendor/jaraco.context-5.3.0.dist-info/METADATA
_internal/setuptools/_vendor/jaraco.context-5.3.0.dist-info/RECORD
_internal/setuptools/_vendor/jaraco.context-5.3.0.dist-info/top_level.txt
_internal/setuptools/_vendor/jaraco.context-5.3.0.dist-info/WHEEL
_internal/setuptools/_vendor/jaraco.functools-4.0.1.dist-info/INSTALLER
_internal/setuptools/_vendor/jaraco.functools-4.0.1.dist-info/LICENSE
_internal/setuptools/_vendor/jaraco.functools-4.0.1.dist-info/METADATA
_internal/setuptools/_vendor/jaraco.functools-4.0.1.dist-info/RECORD
_internal/setuptools/_vendor/jaraco.functools-4.0.1.dist-info/top_level.txt
_internal/setuptools/_vendor/jaraco.functools-4.0.1.dist-info/WHEEL
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/INSTALLER
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/LICENSE
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/METADATA
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/RECORD
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/REQUESTED
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/top_level.txt
_internal/setuptools/_vendor/jaraco.text-3.12.1.dist-info/WHEEL
_internal/setuptools/_vendor/more_itertools-10.3.0.dist-info/INSTALLER
_internal/setuptools/_vendor/more_itertools-10.3.0.dist-info/LICENSE
_internal/setuptools/_vendor/more_itertools-10.3.0.dist-info/METADATA
_internal/setuptools/_vendor/more_itertools-10.3.0.dist-info/RECORD
_internal/setuptools/_vendor/more_itertools-10.3.0.dist-info/REQUESTED
_internal/setuptools/_vendor/more_itertools-10.3.0.dist-info/WHEEL
_internal/setuptools/_vendor/packaging-24.1.dist-info/INSTALLER
_internal/setuptools/_vendor/packaging-24.1.dist-info/LICENSE
_internal/setuptools/_vendor/packaging-24.1.dist-info/LICENSE.APACHE
_internal/setuptools/_vendor/packaging-24.1.dist-info/LICENSE.BSD
_internal/setuptools/_vendor/packaging-24.1.dist-info/METADATA
_internal/setuptools/_vendor/packaging-24.1.dist-info/RECORD
_internal/setuptools/_vendor/packaging-24.1.dist-info/REQUESTED
_internal/setuptools/_vendor/packaging-24.1.dist-info/WHEEL
_internal/setuptools/_vendor/platformdirs-4.2.2.dist-info/INSTALLER
_internal/setuptools/_vendor/platformdirs-4.2.2.dist-info/METADATA
_internal/setuptools/_vendor/platformdirs-4.2.2.dist-info/RECORD
_internal/setuptools/_vendor/platformdirs-4.2.2.dist-info/REQUESTED
_internal/setuptools/_vendor/platformdirs-4.2.2.dist-info/WHEEL
_internal/setuptools/_vendor/platformdirs-4.2.2.dist-info/licenses/LICENSE
_internal/setuptools/_vendor/tomli-2.0.1.dist-info/INSTALLER
_internal/setuptools/_vendor/tomli-2.0.1.dist-info/LICENSE
_internal/setuptools/_vendor/tomli-2.0.1.dist-info/METADATA
_internal/setuptools/_vendor/tomli-2.0.1.dist-info/RECORD
_internal/setuptools/_vendor/tomli-2.0.1.dist-info/REQUESTED
_internal/setuptools/_vendor/tomli-2.0.1.dist-info/WHEEL
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/entry_points.txt
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/INSTALLER
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/LICENSE
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/METADATA
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/RECORD
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/top_level.txt
_internal/setuptools/_vendor/typeguard-4.3.0.dist-info/WHEEL
_internal/setuptools/_vendor/typing_extensions-4.12.2.dist-info/INSTALLER
_internal/setuptools/_vendor/typing_extensions-4.12.2.dist-info/LICENSE
_internal/setuptools/_vendor/typing_extensions-4.12.2.dist-info/METADATA
_internal/setuptools/_vendor/typing_extensions-4.12.2.dist-info/RECORD
_internal/setuptools/_vendor/typing_extensions-4.12.2.dist-info/WHEEL
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/entry_points.txt
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/INSTALLER
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/LICENSE.txt
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/METADATA
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/RECORD
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/REQUESTED
_internal/setuptools/_vendor/wheel-0.43.0.dist-info/WHEEL
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/INSTALLER
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/LICENSE
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/METADATA
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/RECORD
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/REQUESTED
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/top_level.txt
_internal/setuptools/_vendor/zipp-3.19.2.dist-info/WHEEL
_internal/typeguard-4.3.0.dist-info/entry_points.txt
_internal/typeguard-4.3.0.dist-info/INSTALLER
_internal/typeguard-4.3.0.dist-info/LICENSE
_internal/typeguard-4.3.0.dist-info/METADATA
_internal/typeguard-4.3.0.dist-info/RECORD
_internal/typeguard-4.3.0.dist-info/top_level.txt
_internal/typeguard-4.3.0.dist-info/WHEEL
_internal/wheel-0.43.0.dist-info/entry_points.txt
_internal/wheel-0.43.0.dist-info/INSTALLER
_internal/wheel-0.43.0.dist-info/LICENSE.txt
_internal/wheel-0.43.0.dist-info/METADATA
_internal/wheel-0.43.0.dist-info/RECORD
_internal/wheel-0.43.0.dist-info/REQUESTED
_internal/wheel-0.43.0.dist-info/WHEEL
_internal/win32/win32pdh.pyd
bmps/acid.bin
bmps/acid.bmp
bmps/berry.bin
bmps/berryflame.bin
bmps/berryflame.bmp
bmps/bi.bmp
bmps/black_sparx.bin
bmps/black_sparx.bmp
bmps/black_sparx.pdn
bmps/bloodflame.bmp
bmps/blue_flame.bin
bmps/blue_flame.bmp
bmps/brightredflame.bmp
bmps/cliff.bmp
bmps/cyderflame.bin
bmps/cyderflame.bmp
bmps/cyn_crest.bin
bmps/cyn_crest.bmp
bmps/cynder.bin
bmps/cynder.bmp
bmps/dark.bmp
bmps/darkblue_sparx.bin
bmps/darkblue_sparx.bmp
bmps/darkblue_sparx.pdn
bmps/darkgreen_sparx.bin
bmps/darkgreen_sparx.bmp
bmps/darkgreen.bin
bmps/darkgreen.bmp
bmps/darkgreenglame.bmp
bmps/darkpurple_sparx.bin
bmps/darkpurple_sparx.bmp
bmps/darkpurple_sparx.pdn
bmps/dred.bmp
bmps/emerald_sparx.bin
bmps/emerald_sparx.bmp
bmps/emerald_sparx.pdn
bmps/emerald.bin
bmps/emerald.bmp
bmps/fuckingbald.bin
bmps/fuckingbald.bmp
bmps/fuckingbald.pdn
bmps/fwhite.bin
bmps/fwhite.bmp
bmps/gold_flame.bin
bmps/gold_flame.bmp
bmps/goldfish.bmp
bmps/green_flame.bin
bmps/green_flame.bmp
bmps/greenflame.bmp
bmps/grey.bmp
bmps/Greyscale Sparx.bin
bmps/Greyscale Sparx.bmp
bmps/Greyscale Sparx.pdn
bmps/greyspyro_rev2.bin
bmps/greyspyro_rev2.bmp
bmps/greyspyro_rev2.pdn
bmps/greyspyro.bin
bmps/greyspyro.bmp
bmps/iceflame.bin
bmps/iceflame.bmp
bmps/icy_sparx.bin
bmps/icy_sparx.bmp
bmps/icy_sparx.pdn
bmps/icy.bin
bmps/icy.bmp
bmps/inverted.bmp
bmps/jade_sparx.bmp
bmps/jade_sparx.pdn
bmps/jade.bin
bmps/jade.bmp
bmps/lazer.bin
bmps/lazer.bmp
bmps/light pink.bmp
bmps/luminize.bin
bmps/luminize.bmp
bmps/og.bmp
bmps/ogflame.bmp
bmps/ogspyro.png
bmps/orange_sparx.bin
bmps/orange_sparx.bmp
bmps/orange_sparx.pdn
bmps/pastel.bin
bmps/pastel.bmp
bmps/peri4.bin
bmps/peri4.bmp
bmps/pinaplepunch.bin
bmps/pinaplepunch.bmp
bmps/pink_flame.bin
bmps/pink_flame.bmp
bmps/pink_sparx.bin
bmps/pink_sparx.bmp
bmps/pink_sparx.pdn
bmps/pinkblue_flame.bin
bmps/pinkblue_flame.bmp
bmps/pinkpurple.bin
bmps/pinkpurple.bmp
bmps/rainbow_sparx.bin
bmps/rainbow_sparx.bmp
bmps/rainbow.bin
bmps/rainbow.bmp
bmps/red_sparx.bin
bmps/red_sparx.bmp
bmps/red_sparx.pdn
bmps/RoyalBlueRev2.bin
bmps/RoyalBlueRev2.bmp
bmps/saphire.bin
bmps/saphire.bmp
bmps/saphire.pdn
bmps/Sepia.bin
bmps/Sepia.bmp
bmps/smoke.bin
bmps/smoke.bmp
bmps/spyroinvert.bin
bmps/spyroinvert.bmp
bmps/strawberryblonde.bmp
bmps/test.bmp
bmps/test.tim
bmps/testsparx.bin
bmps/testsparx.bmp
bmps/Turquoise Sparx.bin
bmps/Turquoise Sparx.bmp
bmps/Turquoise Sparx.pdn
bmps/turquoise_flame.bin
bmps/turquoise_flame.bmp
bmps/zera.bin
bmps/zera.bmp
bmps/zombie.bmp
Duckstation/duckstation-qt-x64-ReleaseLTCG.exe
Duckstation/qt.conf
Duckstation/Qt6Concurrent.dll
Duckstation/Qt6Core.dll
Duckstation/Qt6Gui.dll
Duckstation/Qt6Network.dll
Duckstation/Qt6Svg.dll
Duckstation/Qt6Widgets.dll
Duckstation/SDL2.dll
Duckstation/updater.exe
Duckstation/WinPixEventRuntime.dll
Duckstation/QtPlugins/generic/qtuiotouchplugin.dll
Duckstation/QtPlugins/iconengines/qsvgicon.dll
Duckstation/QtPlugins/imageformats/qgif.dll
Duckstation/QtPlugins/imageformats/qicns.dll
Duckstation/QtPlugins/imageformats/qico.dll
Duckstation/QtPlugins/imageformats/qjpeg.dll
Duckstation/QtPlugins/imageformats/qsvg.dll
Duckstation/QtPlugins/imageformats/qtga.dll
Duckstation/QtPlugins/imageformats/qtiff.dll
Duckstation/QtPlugins/imageformats/qwbmp.dll
Duckstation/QtPlugins/imageformats/qwebp.dll
Duckstation/QtPlugins/networkinformation/qnetworklistmanager.dll
Duckstation/QtPlugins/platforms/qminimal.dll
Duckstation/QtPlugins/platforms/qoffscreen.dll
Duckstation/QtPlugins/platforms/qwindows.dll
Duckstation/QtPlugins/styles/qwindowsvistastyle.dll
Duckstation/QtPlugins/tls/qcertonlybackend.dll
Duckstation/QtPlugins/tls/qschannelbackend.dll
Duckstation/resources/chtdb.txt
Duckstation/resources/gamecontrollerdb.txt
Duckstation/resources/gamedb.json
Duckstation/resources/fonts/fa-solid-900.ttf
Duckstation/resources/fonts/LICENSE.txt
Duckstation/resources/fonts/Roboto-Regular.ttf
Duckstation/resources/fonts/RobotoMono-Medium.ttf
Duckstation/resources/fullscreenui/address-book-new.png
Duckstation/resources/fullscreenui/applications-system.png
Duckstation/resources/fullscreenui/media-cdrom.png
Duckstation/resources/fullscreenui/multimedia-player.png
Duckstation/resources/fullscreenui/NTSC-J.png
Duckstation/resources/fullscreenui/NTSC-U.png
Duckstation/resources/fullscreenui/PAL.png
Duckstation/resources/fullscreenui/star-0.png
Duckstation/resources/fullscreenui/star-1.png
Duckstation/resources/fullscreenui/star-2.png
Duckstation/resources/fullscreenui/star-3.png
Duckstation/resources/fullscreenui/star-4.png
Duckstation/resources/fullscreenui/star-5.png
Duckstation/resources/images/cover-placeholder.png
Duckstation/resources/images/crosshair.png
Duckstation/resources/images/duck.png
Duckstation/resources/images/placeholder.png
Duckstation/resources/images/sources.txt
Duckstation/resources/shaders/Cccalibrator.glsl
Duckstation/resources/shaders/crt-lottes.glsl
Duckstation/resources/shaders/simple-brightness.glsl
Duckstation/resources/shaders/simple-flip.glsl
Duckstation/resources/shaders/simple-gamma.glsl
Duckstation/resources/shaders/simple-sharpen.glsl
Duckstation/resources/shaders/dolphinfx/bloom.glsl
Duckstation/resources/shaders/dolphinfx/celshading.glsl
Duckstation/resources/shaders/dolphinfx/scanlines.glsl
Duckstation/resources/shaders/reshade/README.md
Duckstation/resources/shaders/reshade/REFERENCE.md
Duckstation/resources/shaders/reshade/source.txt
Duckstation/resources/shaders/reshade/Shaders/Blending.fxh
Duckstation/resources/shaders/reshade/Shaders/Daltonize.fx
Duckstation/resources/shaders/reshade/Shaders/Deband.fx
Duckstation/resources/shaders/reshade/Shaders/DrawText.fxh
Duckstation/resources/shaders/reshade/Shaders/LUT.fx
Duckstation/resources/shaders/reshade/Shaders/Macros.fxh
Duckstation/resources/shaders/reshade/Shaders/ReShade.fxh
Duckstation/resources/shaders/reshade/Shaders/ReShadeUI.fxh
Duckstation/resources/shaders/reshade/Shaders/TriDither.fxh
Duckstation/resources/shaders/reshade/Textures/FontAtlas.png
Duckstation/resources/shaders/reshade/Textures/lut.png
Duckstation/resources/sounds/achievements/lbsubmit.wav
Duckstation/resources/sounds/achievements/message.wav
Duckstation/resources/sounds/achievements/README.txt
Duckstation/resources/sounds/achievements/unlock.wav
Duckstation/translations/duckstation-qt_de.qm
Duckstation/translations/duckstation-qt_en.qm
Duckstation/translations/duckstation-qt_es-ES.qm
Duckstation/translations/duckstation-qt_es.qm
Duckstation/translations/duckstation-qt_fr.qm
Duckstation/translations/duckstation-qt_he.qm
Duckstation/translations/duckstation-qt_it.qm
Duckstation/translations/duckstation-qt_ja.qm
Duckstation/translations/duckstation-qt_ko.qm
Duckstation/translations/duckstation-qt_nl.qm
Duckstation/translations/duckstation-qt_pl.qm
Duckstation/translations/duckstation-qt_pt-BR.qm
Duckstation/translations/duckstation-qt_pt-PT.qm
Duckstation/translations/duckstation-qt_ru.qm
Duckstation/translations/duckstation-qt_tr.qm
Duckstation/translations/duckstation-qt_zh-CN.qm
Duckstation/translations/qt_ar.qm
Duckstation/translations/qt_bg.qm
Duckstation/translations/qt_ca.qm
Duckstation/translations/qt_cs.qm
Duckstation/translations/qt_da.qm
Duckstation/translations/qt_de.qm
Duckstation/translations/qt_en.qm
Duckstation/translations/qt_es.qm
Duckstation/translations/qt_fa.qm
Duckstation/translations/qt_fi.qm
Duckstation/translations/qt_fr.qm
Duckstation/translations/qt_gd.qm
Duckstation/translations/qt_gl.qm
Duckstation/translations/qt_he.qm
Duckstation/translations/qt_hr.qm
Duckstation/translations/qt_hu.qm
Duckstation/translations/qt_it.qm
Duckstation/translations/qt_ja.qm
Duckstation/translations/qt_ko.qm
Duckstation/translations/qt_lt.qm
Duckstation/translations/qt_lv.qm
Duckstation/translations/qt_nl.qm
Duckstation/translations/qt_nn.qm
Duckstation/translations/qt_pl.qm
Duckstation/translations/qt_pt_BR.qm
Duckstation/translations/qt_pt_PT.qm
Duckstation/translations/qt_ru.qm
Duckstation/translations/qt_sk.qm
Duckstation/translations/qt_sl.qm
Duckstation/translations/qt_sv.qm
Duckstation/translations/qt_tr.qm
Duckstation/translations/qt_uk.qm
Duckstation/translations/qt_zh_CN.qm
Duckstation/translations/qt_zh_TW.qm
ISO/Spyro 1 Tester.bin
ISO/Spyro 1 Tester.cue
src/tempCodeRunnerFile.exe
src/__pycache__/bmp_extract_bmps.cpython-312.pyc
src/__pycache__/convert_bmp_to_15bit.cpython-312.pyc
src/__pycache__/convert_bmp.cpython-312.pyc
src/__pycache__/inject_custom_skin_into_iso.cpython-312.pyc
src/__pycache__/inject.cpython-312.pyc
src/temp/__pycache__/convert_bmp.cpython-312.pyc
to be used/acid.bmp
to be used/gold_flame.bmp
to be used/green_flame.bin
to be used/jade_sparx.bmp
to be used/light pink.bmp
to be used/pasteflame.bmp
to be used/pink_flame.bin
to be used/pink_flame.bmp
to be used/pinkblue_flame.bmp
to be used/pinkpurple.bmp
to be used/rainbowflame.bmp
Tester ISO/Spyro 1 Tester.bin
Tester ISO/Spyro 1 Tester.cue
Skin Patcher.exe
Skin Tester.exe
skin_patcher.zip
skin_tester.zip
